html {
	font-size: 10px;
}

@media (min-width: 992px) {
	html {
		font-size: 16px;
	}
}

body {
	background-color: #fff8a6;
	color: #8d1f0e;
	font-family: 'Sawarabi Gothic', sans-serif;
	font-size: 16px;
}

/*
 * wrapper, containerクラス
 */

.wrapper {
	width: 88vw;
	margin: 0 auto;	
}
 
@media (min-width: 576px) {
	.wrapper {
		max-width: 506px;
	}	 
}
@media (min-width: 768px) {
	.wrapper {
		max-width: 675px;
	}	 
}
@media (min-width: 992px) {
	.wrapper {
		max-width: 880px;
	}	 
}

.wrapper-headline-section {
	margin: 48px 0 24px;
}

.wrapper-subhead-section {
	margin: 16px 0 8px;
}

.terms-container {
	margin-bottom: .4rem;
}

/*
 * 見出しクラス
 */
.title {
	font-family: 'Sawarabi Mincho', sans-serif;
	font-weight: 400;
}

.site-title {
	font-size: 4rem;
	font-family: 'Dela Gothic One', cursive;
}

.section-title {
	font-size: 3rem;
}

.section-subhead {
	font-size: 2.5rem;
}

.item-title {
	font-size: 2rem;
}

.term { /* 説明リストのdt */
	font-size: 1.85rem;
}
@media (min-width: 768px) {
	.term {
		font-size: 1.45rem;
	}	 
}

/*
 * ペンペンプリンクラス
 */
.penpenprin {
	font-family: 'Dela Gothic One', cursive;
}
